nodered-flow/flows.json
[{"id":"16f82a77ae4362b5","type":"inject","z":"a0065c27e3766e4e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":480,"wires":[["d2d6225a919040d3"]]},{"id":"d2d6225a919040d3","type":"file in","z":"a0065c27e3766e4e","name":"","filename":"./flows_LAPTOP-G0M3BEJU.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":360,"y":540,"wires":[["9a81da93a70d9cd2"]]},{"id":"9a81da93a70d9cd2","type":"json","z":"a0065c27e3766e4e","name":"","property":"payload","action":"","pretty":false,"x":610,"y":540,"wires":[["464889e23197e8fb","fe871d8cffc83adc"]]},{"id":"464889e23197e8fb","type":"function","z":"a0065c27e3766e4e","name":"","func":"const tab = msg.payload.filter(item=>item.type.includes('tab'))\n\nmsg.payload = msg.payload.filter(item=>item.type.includes(\"http in\"))\nmsg.payload = msg.payload.map((item)=>{\n    item.category = tab.find(e=>e.id==item.z).label\n  \n    for(key in item){\n        if(!['id','url','method','category'].includes(key))\n            delete item[key]\n        \n    }\n  \n    return item\n})\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":540,"wires":[["f1d8c0cd5898d39a"]]},{"id":"e5ba43b45b89aa77","type":"sqlite","z":"a0065c27e3766e4e","mydb":"3a6fc3a8.ec76ec","sqlquery":"msg.topic","sql":"","name":"","x":1220,"y":540,"wires":[["67b05b5b0ccc9ed9"]]},{"id":"f1d8c0cd5898d39a","type":"split","z":"a0065c27e3766e4e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":540,"wires":[["cc8330dd4f02f9f7"]]},{"id":"cc8330dd4f02f9f7","type":"function","z":"a0065c27e3766e4e","name":"","func":"if(!msg.payload.url[0].includes('/')){\n    msg.payload.url = `/${msg.payload.url}`\n}\nmsg.topic=`insert or replace into apiTable (id,url,method,body,response,category,description,customCategory,isCustom,parameter,structSchema,createdDate) \nvalues(\n    '${msg.payload.id}',\n    '${msg.payload.url}',\n    '${msg.payload.method}',\n    (SELECT body FROM apiTable WHERE id = '${msg.payload.id}'),\n    (SELECT response FROM apiTable WHERE id = '${msg.payload.id}'),\n    '${msg.payload.category}',\n    (SELECT description FROM apiTable WHERE id = '${msg.payload.id}'),\n    (SELECT customCategory FROM apiTable WHERE id = '${msg.payload.id}'),\n     (SELECT isCustom FROM apiTable WHERE id = '${msg.payload.id}'),\n    (SELECT parameter FROM apiTable WHERE id = '${msg.payload.id}'),\n    (SELECT structSchema FROM apiTable WHERE id = '${msg.payload.id}'),\n     (SELECT createdDate FROM apiTable WHERE id = '${msg.payload.id}')\n    )`;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":540,"wires":[["e5ba43b45b89aa77"]]},{"id":"4e4c99e96f71b993","type":"http response","z":"a0065c27e3766e4e","name":"","statusCode":"200","headers":{},"x":800,"y":680,"wires":[]},{"id":"e01090a4837523a4","type":"http in","z":"a0065c27e3766e4e","name":"","url":"/kapi","method":"put","upload":false,"swaggerDoc":"","x":80,"y":740,"wires":[["4d0802bb56bc44bc","d0ab9d053a6af10c"]]},{"id":"4d0802bb56bc44bc","type":"function","z":"a0065c27e3766e4e","name":"","func":"const body = msg.payload.body!=null?msg.payload.body:''\nconst customCategory = msg.payload.customCategory!=null?msg.payload.customCategory:''\nconst description = msg.payload.description!=null?msg.payload.description:''\nconst isCustom = msg.payload.isCustom!=null?msg.payload.isCustom:0\nconst response = msg.payload.response!=null?msg.payload.response:''\nconst structSchema = msg.payload.structSchema!=null?msg.payload.structSchema:''\nconst structType = msg.payload.structType!=null?msg.payload.structType:''\nmsg.topic=`UPDATE apiTable\nSET body = '${body}',\n    customCategory ='${customCategory}',\n    description = '${description}',\n    isCustom = ${isCustom},\n    response = '${response}',\n    structSchema = '${structSchema}',\n    structType = '${structType}'\nWHERE\n    id = '${msg.payload.id}' `\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":740,"wires":[["4e4c99e96f71b993","4119b8efe237d6ae","d773a93120282a3d"]]},{"id":"4119b8efe237d6ae","type":"sqlite","z":"a0065c27e3766e4e","mydb":"3a6fc3a8.ec76ec","sqlquery":"msg.topic","sql":"select * from apiTable","name":"","x":620,"y":740,"wires":[["d773a93120282a3d"]]},{"id":"924354bf73f7b9d3","type":"exec","z":"a0065c27e3766e4e","command":"npx mocha -R json","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":770,"y":420,"wires":[["5c1b73496f7cbb5f"],[],[]]},{"id":"7ac62551f57bb443","type":"function","z":"a0065c27e3766e4e","name":"","func":"\nmsg.topic=\"result\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":400,"wires":[["5929ee2c75cfade0","8cf466ccc8103dd1"]]},{"id":"604a0d3e8f4c62fe","type":"json","z":"a0065c27e3766e4e","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":400,"wires":[["7ac62551f57bb443"]]},{"id":"5c1b73496f7cbb5f","type":"switch","z":"a0065c27e3766e4e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"json","vt":"json"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":400,"wires":[["604a0d3e8f4c62fe"],[]]},{"id":"d702691675583522","type":"file","z":"a0065c27e3766e4e","name":"","filename":"./test/case1.js","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":540,"y":420,"wires":[["924354bf73f7b9d3"]]},{"id":"41503737172d6ec2","type":"function","z":"a0065c27e3766e4e","name":"","func":"const struct = msg.payload.structSchema\n \n//type array object  / object / string / int \nconst structType=msg.payload.structType\nlet url =msg.payload.url\n\n\n\n\n url = url.split(\"/\").map((urlContent) => {\n\tif (urlContent.includes(\":\")){ \n\t\treturn faker.animal.type()\n\t\t\n\t}else{\n\t\treturn urlContent\n\t}\n})\n\nurl = url.join('/')\n\n\nconst source = 'http://127.0.0.1:1880'\nlet case1 = ``\nlet case2 = ``\nif(structType == 'array object'){\n    case1=`\n    \tit('expect same structure', function () {\n\t\tresponse.body.forEach(rs => expect(rs).to.be.jsonSchema(productSchema));\n\t  })\n    `\n    case2=`\n    it(\"expecting array \", function() {\n\t\texpect(response.body).to.be.an(\"array\");\n\t  });  \n    `\n}else{\n        case2=`\n    it(\"expecting ${structType} \", function() {\n\t\texpect(response.body).to.be.an(\"${structType}\");\n\t  });  \n    `\n}\nmsg.payload=`\nlet should = require('chai').should(),\n  chai = require('chai'),\n  supertest = require('supertest'),\n  api = supertest('${source}'),\n  {faker}=require('@faker-js/faker')\n\nchai.use(require('chai-json-schema'));\n\n\n\n\n\nlet expect = chai.expect\nlet productSchema = ${JSON.stringify(struct)} ;\n\ndescribe(\"KAPI test\",function(){\n\t let error, response;\n\t // pass a url parameter\n\t before(function(done) {\n\t\tapi.get('${url}').set('Accept', 'application/json')\n\t\t  .end(function (err, res) {\n\t\t\t   error = err;\n\t\t\t   response = res;\n\t\t\t\n\t\t\t\tdone()\n\t\t  })\n\t  });\n\t  // pass product schema\n       ${case1}\n\t  //pass to check is array/ obj / str/ int\n\t    ${case2}\n\t  // pass to check it should be success\n\tit(\"expecting 200 status code\", function() {\n    \n\t\texpect(response.statusCode).to.equal(200);\n\t  });  \n\t  \n})\n\n\n\n\n\n`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":420,"wires":[["d702691675583522"]]},{"id":"bb432d1d4ca8aaf9","type":"delay","z":"a0065c27e3766e4e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"4","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":280,"y":420,"wires":[["41503737172d6ec2"]]},{"id":"cec3e676577646d9","type":"http in","z":"a0065c27e3766e4e","name":"","url":"/kapi/refresh","method":"get","upload":false,"swaggerDoc":"","x":100,"y":540,"wires":[["d2d6225a919040d3"]]},{"id":"67b05b5b0ccc9ed9","type":"join","z":"a0065c27e3766e4e","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1470,"y":540,"wires":[["481a792c5c23e3f3"]]},{"id":"481a792c5c23e3f3","type":"function","z":"a0065c27e3766e4e","name":"","func":"msg.payload={'content':'success'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":540,"wires":[["5b95605aaf988246"]]},{"id":"5b95605aaf988246","type":"http response","z":"a0065c27e3766e4e","name":"","statusCode":"","headers":{},"x":1750,"y":540,"wires":[]},{"id":"8f526c3b9f9a94ef","type":"http in","z":"a0065c27e3766e4e","name":"","url":"/kapi/del","method":"post","upload":false,"swaggerDoc":"","x":110,"y":800,"wires":[["fb359ab96363ccad"]]},{"id":"fb359ab96363ccad","type":"function","z":"a0065c27e3766e4e","name":"","func":"msg.topic=`\nDELETE FROM apiTable\nWHERE id='${msg.payload.id}'\n`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":800,"wires":[["4e4c99e96f71b993","4119b8efe237d6ae"]]},{"id":"01684c4b549d623f","type":"http in","z":"a0065c27e3766e4e","name":"","url":"/kapi/loadtest/:url","method":"get","upload":false,"swaggerDoc":"","x":140,"y":340,"wires":[["9b075c3718803278"]]},{"id":"8cf466ccc8103dd1","type":"http response","z":"a0065c27e3766e4e","name":"","statusCode":"","headers":{},"x":1450,"y":360,"wires":[]},{"id":"7a9cbaa97723fbe4","type":"exec","z":"a0065c27e3766e4e","command":"loadtest -n 10 ","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":620,"y":340,"wires":[["c037ae1e73641359","8cf466ccc8103dd1"],[],[]]},{"id":"5435d29f2aada114","type":"function","z":"a0065c27e3766e4e","name":"","func":"msg.payload = `http://127.0.0.1:1880/${msg.req.params.url}`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":340,"wires":[["7a9cbaa97723fbe4"]]},{"id":"dcc9c48537b87fbf","type":"http in","z":"a0065c27e3766e4e","name":"","url":"/kapi/syntest","method":"post","upload":false,"swaggerDoc":"","x":90,"y":420,"wires":[["bb432d1d4ca8aaf9","c037ae1e73641359"]]},{"id":"9b075c3718803278","type":"delay","z":"a0065c27e3766e4e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"4","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":340,"wires":[["5435d29f2aada114"]]},{"id":"3a6fc3a8.ec76ec","type":"sqlitedb","db":"C:\\Users\\KengHzouYeoh\\management.db","mode":"RWC"}]